/.vs
/OpenXMLExcel/packages/DocumentFormat.OpenXml.Framework.3.2.0
/OpenXMLExcel/packages/DocumentFormat.OpenXml.3.2.0
/OpenXMLExcel/OpenXMLExcel/obj
/OpenXMLExcel/OpenXMLExcel/bin/Debug
/OpenXMLExcel/.vs/OpenXMLExcel/CopilotIndices/17.12.38.29086
/OpenXMLExcel/.vs/OpenXMLExcel/FileContentIndex
/OpenXMLExcel/.vs/OpenXMLExcel/v17/TestStore/0
/OpenXMLExcel/.vs/OpenXMLExcel/v17/DocumentLayout.backup.json
/OpenXMLExcel/.vs/OpenXMLExcel/v17/DocumentLayout.json
/OpenXMLExcel/.vs/OpenXMLExcel/v17/.suo
